@import "roots.css";
@import "createproduct.css";
@import "editaccount.css";
@import "indexfeed.css";
@import "singleProductComment.css";

body {
  width: 100%;
  height: 100%;
}

header {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.212);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 2rem;
  height: var(--header-height);
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
  top: 0;
  left: 0;
  z-index: 2000;
}

header.scroll-header {
  background-color: #fff;
  box-shadow: 5px -1px 12px -5px grey;
}

header.hide {
  top: -90px;
}

nav {
  height: 100%;

  width: auto;
  display: inline-flex;
  column-gap: 2rem;

  align-items: center;
}
.header-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 0.5rem;
}

.header-profile img {
  border-radius: 50%;
  object-fit: cover;
  max-height: 35px;
  width: 100%;
}

.profile-options-container {
  position: absolute;
  display: none;
  top: 90%;
  right: 1rem;
  background: white;
  box-shadow: 0px 0px 5px 1px #00000050;
  padding: 5px;

  border-radius: 10px;
}
.profile-options-container.active {
  display: block;
}
.header-chevron {
  width: 20px;
  height: 20px;
  transition: var(--trans-fast);
  cursor: pointer;
}
.header-chevron.active {
  transform: rotate(180deg);
  transition: var(--trans-fast);
}
.options {
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  min-width: 200px;
}

.profile-options-container a {
  text-decoration: none;
  color: black;
  padding: 15px;
  width: 100%;

  display: inline-flex;
  justify-content: space-between;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.profile-options-container a:last-child {
  border: none;
}
.profile-options-container a i {
  color: gray;
}

.profile-options-container a:hover {
  background: rgba(219, 219, 219, 0.459);
}

main {
  width: 100%;
}

main::-webkit-scrollbar {
  width: 5px;
}

/* Track */
main::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
main::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
main::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.404);
}

.page-container {
  max-width: 980px;
  margin: 0 auto;
}

.validate_error {
  background: rgba(255, 0, 0, 0.37);
}

a.logout {
  width: 100%;
  margin-bottom: 30px;
}

.error-message {
  color: red;
  width: 100%;
  text-align: center;
}

.error {
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

.search-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#search-form {
  position: relative;
}

#search-form input {
  border-radius: 20px;
  border: 1px solid rgba(19, 19, 19, 0.281);
  min-width: 300px;
}

i.clear-input {
  z-index: 8888;
  position: absolute;
  right: 10px;
  font-size: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.nav-fixed {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.nav-active {
  background-color: #fff;
  box-shadow: 5px -1px 12px -5px grey;
}

main {
  position: sticky;
  height: calc(100vh - var(--header-height));
  top: var(--header-height);
  left: 0;
  width: 100%;
  overflow-y: scroll;
  padding-top: 5rem;
}

/* --------- error/updates -------- */

.update_message {
  padding: 1%;
  background-color: rgb(75, 159, 255);
  color: white;
}

.error_message {
  padding: 1%;
  background-color: rgb(222, 96, 96);
  font-weight: 500;
  color: white;
}
