* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-position-x: 90vh;
  background-repeat: no-repeat;
  background-color: #FBFBFB;
  text-rendering: optimizeLegibility;
  user-select: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}


.flex_container {
  display: flex;
}

.image_login_container {
  width: 40%;
  background-color: rgb(223, 211, 159);
  display: flex;
  align-items: center;
}

.image_login_container2 {
  width: 40%;
  background-color: rgb(159, 198, 223);
  display: flex;
  align-items: center;
}

.image_login_container img,
.image_login_container2 img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.login_signup_form {
  width: 70%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}



.signup-container {
  width: 900px;
  height: auto;
  max-width: 90vw;
  /* padding: 32px; */
  background-color: #fff;
  border-radius: 15px;
  left: 0;
  top: 0;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  flex-grow: 1;
  display: grid;
  place-items: center;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
}

.centering-wrapper {

  width: 87%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  flex: 1 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  column-gap: 2rem;
}

.section1 {

  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.primary-header {
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.primary-header h1 {
  font-weight: 500;

}

.secondary-header {
  color: #272727;
  line-height: 20px;
}

.input-position {
  margin-top: 20px;
}

.form-group {
  width: 100%;
  text-align: left;
}

.admin-btn {
  margin-top: 20px;
}




.input-placeholder {
  text-transform: capitalize;
  color: #2e3030;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: capitalize;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: default;
}

/* .error-message {
  color: #ec4846;
  font-style: italic;
  text-transform: none;
  font-size: 12px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  transition: all 0.2s linear;

} */


.form-group span {
  display: none;
}

.margin-top {
  margin-top: 10px;
}




.form-group:last-child input {

  margin-bottom: 0px;
}



.form-group.validate_error span {
  display: block;
  color: #ec4846;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  transition: all 0.2s linear;
}

.validate_error input {
  background: rgb(192 80 80 / 57%) !important;
  border: 1px solid #ec4846 !important;
}

.form-style {
  font-family: -webkit-pictograph;
  position: relative;
  padding: 10px;
  height: 40px;
  width: 414px;
  max-width: 80vw;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #111113;
  background-color: #fff;
  border: 1px solid #282a2e;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all 200ms linear;
  transition: border-color 0.2s ease-in-out;
}

.form-style:hover {
  border-color: #b9b9b9;
}

.form-style:focus,
.form-style:active {
  border-color: #b9b9b9;
}

.form-style:active .input-placeholder {
  color: #b9b9b9;
}

.btn-position {
  width: 100%;
  display: grid;
  place-items: center;
}

.btn {
  text-decoration: none;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #b9b9b9;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.btn2 {
  text-decoration: none;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
  background-color: rgba(148, 148, 148, 0.795);
  color: white;
  cursor: pointer;
}

.btn2:hover {
  background-color: rgb(1, 17, 245);
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.btn img,
.btn2 img {
  padding-left: 6px;
}


.password-container {
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
  margin-top: 4px;
  width: 100%;
  height: auto;
  padding: 2px 90% 2px 0px;
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  background: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.link {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #000;
  padding-bottom: 2px
}

.link2 {
  color: #8b8b8b;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.link:hover {
  text-decoration: underline;
}

.horizontalSeparator {
  margin: 0 2.5vw;
  border: 1px solid #363940;
}

.qr-login {
  background-color: #0D1D47;
  width: 395px;
  height: 100%;
  right: 270px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-right-radius: 15 px;
  overflow: hidden;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: baseline;

  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
}

.qr-signup {
  background-color: #0D1D47;

  width: 517px;
  height: 100%;
  right: 270px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-right-radius: 15 px;
  overflow: hidden;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: baseline;

  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
}

.qr-container {
  display: flex;
  width: 176px;
  height: 176px;
  border-radius: 2px;
  background: transparent;
  position: relative;
  margin: 60px 0px 32px 0px;
  justify-content: center;
  align-items: center;
}

.qr-container-sign-up {
  display: flex;
  width: 176px;
  height: 176px;
  border-radius: 2px;
  background: transparent;
  position: relative;
  margin: 200px 0px 32px 0px;
  justify-content: center;
  align-items: center;
}



.logo {
  width: 200px;
  height: 200px;
  position: absolute;
  background-blend-mode: overlay;
}

.qr-code {
  position: absolute;
}

.qr-pheader {
  font-weight: 600;
  margin-bottom: 8px;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
}

.qr-sheader {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 23px;
  color: #a2a3a7;
}

.qr-sheader strong {
  color: snow;
}

.qr-pheader span {
  font-size: smaller;
}


/* @media only screen and (max-width: 600px) {
.centering-wrapper{
  width: 100%;
}
} */

@media only screen and (max-width: 768px) {
  body {
    background-position: 0px 0px;
  }

  svgBlob {
    top: 50;
    left: 0;
    transform: translate(0, -50%);
  }

  .qr-login {
    display: none;
  }

  .qr-signup {
    display: none;
  }

  .horizontalSeparator {
    display: none;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  50% {
    transform: translateY(10px);
  }

  75% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(-70px);
    opacity: 0;
  }
}

/**********/
/**********/

@media screen and (min-width: 760px) {
  .password-container {
    display: flex;
    padding: 0;
    margin-top: 15px;
  }


}