:root {
  --header-height: 80px;

  /*colors*/

  --hue-color: 250;
  --first-color: hsl(var(--hue-color), 69%, 99%);
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);

  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;

  --text-normal: #dcddde;
  --text-muted: #72767d;

  --channeltextarea-background: #40444b;

  --header-bg: ;

  /*fonts & typo */
  --body-font: "SF Mono Regular";
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 800;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 0.5rem;
  --mb-1-5: 1.5rem;
  --mb-2: 1rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;

  --trans-fast: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  --submit-form-height: 44px;
}

@media screen and (min-width: 958px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.7rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.975rem;
    --smaller-font-size: 0.813rem;
    --smallest-font-size: 0.6rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
p,
a {
}
img {
  width: 100%;
  height: auto;
}

p {
}
