* {
  box-sizing: border-box;
  padding: var(--p-0);
  margin: var(--mr-0);
}

#comments-section {
  background: var(--module-bg);
  padding: var(--p-1);
  margin-top: var(--mt-1-45);
  /*  border-radius: var(--radius-20);
  filter: var(--drop-shadow-2-4-6-black); */
}

.goback-href {
  width: 100%;
  font-size: var(--f-size-xxl);
  font-weight: var(--font-regular);
  display: block;
  position: relative;
  top: var(--top-10);
  right: var(--right-270);
}



.goback-href a {
  color: var(--text-normal);
}

.goback-href a:hover {
  letter-spacing: var(--ls-2px);
  filter: var(--drop-shadow-2-1-0-black);
  transition: var(--trans-all-1s-ease-in-ease-out);
}

.gainsboro {
  background: var(--gainsboro);
}

.card-wrapper {
  max-width: var(--max-width-1100px);
  margin: var(--m-auto);
  background: var(--module-bg);
  /*  filter: var(--drop-shadow-2-4-6-black); */
  /*   border-radius: var(--radius-20); */
  padding: var(--p-1);
}

img {
  width: var(--w-100);
  display: block;
  object-fit: contain;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: var(--w-100);
  transition: var(--trans-all-05-ease);
}

.img-showcase img {
  min-width: var(--w-100);
}

.img-select {
  display: flex;
}

.img-item {
  margin: var(--mb-0-3);
  width: var(--w-100);
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: var(--mr-0);
}

.img-item:hover {
  opacity: var(--opacity-08);
}


.product-title {
  font-size: var(--bigger-font-size);
  text-transform: capitalize;
  font-weight: var(--font-semi-b-bold);
  position: relative;
  color: var(--text-normal);
  margin: var(--m-1-0);
}

.contact-title {
  font-size: var(--f-size-16-px);
  text-transform: capitalize;
  font-weight: var(--font-bold);
  position: relative;
  color: var(--text-normal);
  margin: var(--m-1-0);
}



.product-price {
  margin: var(--m-1-0);

}

.product-price p {
  font-size: var(--f-size-16-px);
  font-weight: var(--font-semi-b-bold);
  padding: var(--p-1px);


}



.product-price span {
  font-weight: var(--font-semi-bold);
  font-size: var(--f-size-xxl);
  color: var(--text-normal);
}


.product-detail h2 {
  text-transform: capitalize;
  color: var(--text-normal);
  padding-bottom: var(--p-b-06);
}

.product-detail p {
  margin-top: var(--m-10);
}

.product-detail span {
  font-weight: var(--font-bold);
  display: flex;
  gap: var(--small-gap);
}

.product-detail a {
  text-transform: lowercase;
  color: var(--text-normal);
}

.product-detail ul {
  margin: var(--m-1-0);
  font-size: var(--h4-font-size);
}


@media screen and (max-width: 333px) {
  .master-flex {
    flex-direction: column;
  }
}

@media screen and (min-width: 333px) {
  .comments-container {
    display: block;
    margin: var(--m-auto);
  }
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: var(--grid-template-columns-2-1fr);
    grid-gap: var(--grid-gap-1-5);
  }

  .card-wrapper {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-content {
    padding-top: var(--p-t-85px);
  }

  .master-flex {
    flex-direction: column;
  }

  .img-showcase {
    height: var(--h-40-vh);
  }

  .img-showcase img {
    object-fit: scale-down;
  }

  .img-select {
    display: flex;
    width: var(--w-50);
    margin: var(--m-auto);
  }

  .comments-container {
    display: block;
    margin: var(--m-0);
  }
}