@import "roots.css";

body {
  width: 100%;
  height: 100%;
}
header {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.212);
}
nav {
  height: var(--header-height);
  width: 100%;
  display: inline-flex;
  column-gap: 2rem;
  margin: 0 2rem;
  align-items: center;
}
main {
  /*   display: flex;
  justify-content: center;
  align-items: center; */
}
/* .form-wrapper {
  margin: 2rem 2rem;
  max-width: 100vw;
}
form {
  display: grid;
  width: 100%;
  max-width: auto;
}
form label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
} */

.validate_error {
  background: rgba(255, 0, 0, 0.37);
}

a.logout {
  width: 100%;
  margin-bottom: 30px;
}

.error-message {
  color: red;
  width: 100%;
  text-align: center;
}
.error {
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

/**form **/
#post-form {
}
.post-form-content {
  background: var(--channeltextarea-background);
  display: grid;
  grid-template-columns: 30px auto 100px;
  column-gap: 1rem;
  margin-bottom: 15px;
  align-items: flex-start;
  position: relative;
  border-radius: 5px;
  padding: 0 10px;
  max-height: 50vh;

  overflow: auto;
}

textarea,
div.attach,
div.emoji {
  margin-top: calc(var(--submit-form-height) / 4);
}
div.attach {
  display: flex;
  justify-content: flex-end;
}
div.emoji {
  display: flex;
  justify-content: flex-end;
  column-gap: 0.5rem;
}

/*input[type="submit"],
button.submit {
  position: absolute;
  right: 150px;
  bottom: 11px;
  background: none;

  font-size: 26px;
  border: none;
} */
button.submit i {
  color: var(--text-muted);
  cursor: pointer;
  transition: all 0.25s;
}

button.submit {
  position: absolute;
  right: 150px;
  bottom: 11px;
  background: none;
  font-size: 26px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
button.submit:hover i {
  color: #f5f5f5;
}
.text-container {
}
textarea {
  background-color: transparent;
  resize: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1rem;

  width: 100%;
  max-height: 50vh;
  color: var(--text-normal);
  max-height: 50vh;
  overflow: auto;
}
textarea:focus-visible {
  outline: none;
}
textarea::placeholder {
}

.container-grid {
  display: grid;
  grid-template-columns: minmax(100px, 300px) 1fr 100px;
  grid-template-areas: "sidebarleft main-content sidebarright";
  height: 100%;
  position: fixed;
  width: 100%;
}

.sidebar-left {
  grid-area: "sidebarleft";
  background: var(--background-tertiary);
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.channels-container {
  background: var(--background-tertiary);
  display: flex;
  flex-direction: column;

  row-gap: 10px;
  align-items: center;
  margin-top: 1rem;
}

.channel {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f1f1f1;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: var(--trans-fast);
}
.channel span.tooltip {
  display: none;
  position: absolute;
  left: 150%;
  padding: 0.5rem;
  border-radius: 5px;
  color: #f5f5f5;
  background-color: var(--background-tertiary);
}
.channel:hover {
  border-radius: 35%;
}

.channel:hover span.tooltip {
  display: block;
}
.channel img {
  object-fit: contain;
  width: 70%;
  height: 70%;
}
.channel-information {
  background: var(--background-secondary);
  height: 100%;
}

.main-content {
  grid-area: "main-content";
  background-color: var(--background-primary);
  padding-right: 5px;
}
.sidebar-right {
  grid-area: "sidebarright";
  /* background: yellow; */
  background: var(--background-secondary);
}

.chat-content {
  position: relative;

  display: flex;

  flex-direction: column;
  min-width: 0;
  min-height: 0;

  flex: 1 1 auto;
}
.messages-wrapper {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  z-index: 0;
  padding-bottom: 50px;
}
.chat-content form {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.scroller {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden scroll;
  padding-right: 0px;
  overflow-anchor: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 100%;
  padding-bottom: 50px;
}

.scroller::-webkit-scrollbar {
  width: 8px;
  position: relative;
  margin: 20px;
  left: -50px;
  border-radius: 5px;
}

/* Track */
.scroller::-webkit-scrollbar-track {
  background: #f1f1f1;
  background: var(--background-secondary);
  width: 4px;
  left: -50px;
  position: absolute;
  border-radius: 5px;
}

/* Handle */
.scroller::-webkit-scrollbar-thumb {
  background: var(--background-accent);
  border-radius: 5px;
}

/* Handle on hover */
.scroller::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*** Single messages ***/

.post-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 0.5rem;
  min-height: 100%;
}
.message {
  grid-template-columns: auto 200px;
}

.message-user-information h5 {
  color: rgb(26, 188, 156);
}
.message-user-information {
  padding-top: 5px;
  margin-bottom: 0.3rem;
  color: var(--text-normal);
}
.message-content {
  margin-top: var(--mb-1);
  display: grid;
  grid-template-columns: minmax(40px, 50px) auto;
  align-items: flex-start;
  column-gap: 0.5rem;
  position: sticky;
  max-height: max-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}
.message-content img {
  justify-self: center;
  margin-top: calc(4px - 0.125rem);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.message h5 span {
  color: var(--text-muted);
  margin-left: 5px;
  font-size: var(--smallest-font-size);
}

.post-form-content i {
  color: var(--text-normal);
  font-size: var(--h3-font-size);
}

.encrypted {
  margin-top: 0.5rem;
}
p.small {
  font-size: 0.4rem;
}
